*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: 700;
}


@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
}
body {
    background-color: aliceblue;
    font-size: 1.25rem;
    font-family: "Roboto";
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.calculator {
    background-color: hsl(0, 0%, 7%);
    min-width: 35ch;
    max-width: 50ch;
    min-height: 30rem;
    padding-block: 2rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px 0 hsl(0, 0%, 34%);
}

.result-screen {
    min-width: 35ch;
    max-width: 35ch;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: hsl(202, 32%, 43%);
    margin-inline: auto;
    padding-inline: 1rem;
    border-radius: 1rem;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: .4rem;
}

.button {
    border: none;
    font: inherit;
    padding: .75rem;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
    text-align: center;
    display: grid;
    place-content: center;
    border-radius: .2rem;
}

.button:hover,
.button:focus {
    background-color: hsl(202, 42%, 47%);
}

.result-button {
    background-color: hsl(202, 67%, 25%);
}

.result-button:hover,
.result-button:focus {
    background-color: hsl(202, 75%, 15%);
}